body {
	background-image: url(../img/borobudur.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.justify {
	background-position: center center;
	border: 2px solid red;
	margin: 0 auto;
	color: blue;
	width: 550px;
	height: 450px;
	background-image: url(../img/alpuket.png);
	text-align: justify;
}
.repeat {
	border: 3px solid red;
	width: 550px;
	height: 450px;
	background-image: url(../img/alpuket.png);
	background-repeat: repeat-x;
	margin: 0 auto;
}